
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('https://i.imgur.com/yzCI8Ea.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
  background-size: cover;

}

.custom-nav {
  border-radius: 0;
  background: black;
  border-color: rgba(0,0,0,0)
  
}

.nav-brand {
  background: red!important;
}

.nav-brand:hover {
  background: rgba(255, 0, 0, 0.43)!important;
}

.nav-item {
  background: red;
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Bangers', cursive;
  font-size: 20px;
}

.nav-item:hover {
  background: rgba(255, 0, 0, 0.43);
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Bangers', cursive;
  font-size: 21px;
}


.navbar-inverse .navbar-nav>li>a{
  color: white!important;
}

.search {
  background: rgba(255, 255, 255, 0.00);
  color: white;
  border-radius: 0;
  border-top-color: black;
  border-left-color: black;
  border-right-color: black;
  font-family: 'Boogaloo', cursive;
  font-size: 20px;  
}

.search-submit {
  background: black;
  border-radius: 0;
  border-color: white;
  
}

.search-submit:hover {
  background: red;
  border-color: red;
}

a.a-remove-decoration {
  text-decoration: none;
  color: white;
  
}

.shadow {
  -webkit-box-shadow: 8px 7px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 7px 9px 0px rgba(0,0,0,0.75);
  box-shadow: 8px 7px 9px 0px rgba(0,0,0,0.75);
}

.comic-title {
  font-size: 30px;
  font-family: 'Bangers', cursive;
}

.marvel-btn {
  background: red;
  font-family: 'Boogaloo', cursive;
  font-size: 20px;
  color: white;
}

.marvel-btn:hover {
  background: rgba(255, 0, 0, 0.43);
  font-family: 'Boogaloo', cursive;
  font-size: 21px;
  color: white;
}
.marvel-btn2 {
  background: red;
  font-family: 'Boogaloo', cursive;
  font-size: 20px;
  color: white;
  padding: 5px;
  margin: 5px;
}

.marvel-btn2:hover {
  background: rgba(255, 0, 0, 0.43);
  font-family: 'Boogaloo', cursive;
  font-size: 20px;
  color: white;
}

.form {
  border: 2px solid black;
  padding:10px;
  background: rgba(255, 255, 255, 0.53)
}